<form class="loginForm" [formGroup]="loginForm">
    <h1>Ingresa</h1>
    <input type="text" placeholder="Username" formControlName="username" />
    <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
        <div *ngIf="username?.errors?.required">
            El nombre de usuario es requerido.
        </div>
        <div *ngIf="username?.errors?.minlength">
            El nombre de usuario debe tener minimo 4 caracteres.
        </div>
    </div>
    <input type="password" placeholder="Password" formControlName="password" />
    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
        <div *ngIf="password?.errors?.required">
            La contraseña es requerida.
        </div>
        <div *ngIf="password?.errors?.minlength">
            La contraseña debe tener minimo 4 caracteres.
        </div>
        <div *ngIf="password?.errors?.pattern">
            La contraseña debe tener Mayusculas, Minusculas y Numeros.
        </div>
    </div>
    <a>Olvidaste tu contraseña?</a>
    <button [disabled]="!loginForm.valid" (click)="submit()" class="btn">Ingresar</button>
</form>