<div class="container">
  <header>
    <nav class="menu">
      <ng-container *ngIf="isLogged$ | async; else loginTemplate">
        <ul>
          <li><a [routerLink]="['/products']" routerLinkActive="active">Productos</a></li>
          <li><a (click)="loggout()">Cerrar Sesion</a></li>
        </ul>  
      </ng-container>
      <ng-template #loginTemplate>
        <ul >
          <li><a [routerLink]="['/login']"  routerLinkActive="active">Login</a></li>
        </ul>
      </ng-template>
    </nav>  
  </header>
  <section class="content">
    <router-outlet></router-outlet>
    
  </section>
  <footer><i class="fas fa-cloud"></i>
    ScotiabankColpatria</footer>
</div>