@import '../../../../colors';


$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

.product{
    margin-block-end: 2rem;
}

.return{
    color: $blueligth-color;
    margin-bottom: 1rem;
    svg {
        width: 12px;
    }
}


.table {
	width:100%;

    @media screen and (max-width:500px){
        font-size: 12px;
    }


    .table-header {
        display:flex;
        width:100%;
        background: $secondary-color;
        padding:($half-spacing-unit * 1.5) 0;
    
        .header__item {
            text-transform:uppercase;
            color: $white-color;
        }
    
    }

    .table-row {
        display:flex;
        width:100%;
        padding:($half-spacing-unit * 1.5) 0;
        
        &:nth-of-type(odd) {
            background: $white-color;
        }
    }
    
    .table-data, .header__item {
        flex: 1 1 20%;
        text-align:center;
        @media screen and (max-width:700px){
            &:nth-of-type(4n) {
                display: none;
            }
        }
    }
}





